doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title WeatherNow | #{routeName}
        link(rel="stylesheet" href="/styles/global.css")
        block moreStyles
        block moreCSJS
    body.h-screen.bg-gradient-to-br.from-purple-400.to-purple-700.font-body.text-gray-100 
        block content
        script(src="/js/index.js") 