extends includes/layout.pug
block content 
     main.section 
            header.section-header 
                h1.text-3xl.font-bold.text-center.p-10 CHECK WEATHER
            section.text-center    
                if data 
                    -var { placeName,coords,main } = data
                    -const { temp,temp_min,temp_max } = main
                    .flex.flex-col 
                        h1.text-5xl #{placeName}
                        img(src="/images/4.png",width="200").my-6.mx-auto
                        h2.uppercase.text-6xl.tocelcius.font-bold #{temp.toFixed(1)}&deg;c
                button.mx-auto.my-10.bg-gradient-to-br.from-yellow-300.to-yellow-600.px-4.py-3.shadow-sm.rounded-xl.w-max.text-white.font-bold(id="geo-button") Get your location
